# Mini-Project (HTML,CSS and Javascript)

--- Responsive part done.
--- Project added to the My Project sections.
--- Each links are working good.
--- Elements are well settled.

### Remaing things 

* create Redmi file to each Project Repozitory.
* Data Base Connection to each project.
* Need React Projects to impress and show case better.
* You can add Certificate Section to add Certificate.
* Need A goog Photo for the profile card and for Linkedin Profile.
* delete unwanted data from folder 

            