:root {
  --textHighlight-color: #a24284;
  --background-color: #f9fafe;
  --primary-text-color: #2e1239;
  --secondary-text-color: #595959;
  --b1-btn-color: #320e3b;
  --b2-btn-color: #a24284;
  --nav-bgc-color: #320e3b;
}

/* ------------CSS for Small Screeen _---------   */

/* mobile to media query */
@media (min-width: 320px) and (max-width: 430px) {
  /* 1st */
  .introduction {
    flex-direction: column-reverse;
    padding: 10px;
  }

  #sidecontact {
    display: flex;
    width: min-content;
    flex-direction: row-reverse;
  }
  #sidecontact a {
    width: min-content;
    padding: 10px;
    gap: 10px;
    font-size: 45px;
  }

  /* humburg */
  nav .fa-solid {
    display: block;
    font-size: 25px;
    margin-right: auto;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    background: var(--nav-bgc-color);
    color: var(--background-color);
    transition: right 0.5s;
    transition: 1s;
  }

  nav ul:hover {
    border-bottom: 2px solid #595959;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    color: var(--background-color);
  }

  .header-text {
    display: flex;
    flex-direction: column-reverse;
  }

  .header-text h1 {
    font-size: 20px;
  }

  .header-text p {
    font-size: 20px;
  }
  .header-text p span {
    font-size: 20px;
  }

  .gif {
    height: 260px;
    width: 100%;
  }

  .skill-Icon ul {
    grid-template-columns: repeat(2, auto);
    justify-content: left;
}

  /* intro about  */

  .intor-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
  }

  .about-col-2 h1 {
    font-size: 34px;
  }

  .tab-contents ul li {
    padding: 12px;
    font-size: 14px;
  }

  .about-col-2 {
    width: 100%;
    padding-left: 20px;
  }

  .container-res {
    margin: 0;
    flex-direction: column;
    padding: 15px;
  }

  .container-res h1 {
    font-weight: 600;
    font-size: 34px;
    color: var(--primary-text-color);
  }

  .work {
    width: 100%;
  }

  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
  }

  
  /* Project section  */
  .layer h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primary-text-color);
  }

  .layer p {
    color: #262626;
    font-size: 12px;
    text-align: justify;
  }
  .layer a {
    font-size: 0.8rem;
    padding: 7px 10px;
  }
  .layer a i {
    font-size: 14px;
    text-decoration: none;
  }

  .layer button {
    padding: 6px 15px;
  }

  /* Contact Form */

  .contact-intro-row {
    display: flex;
    width: revert;
    flex-direction: column-reverse;
  }

  .contact-right form {
    width: 80%;
    margin-left: 25px;
  }

  .contact-left h1 {
    font-size: 35px;
  }

  .contact-left {
    padding-left: 25px;
    width: fit-content;
  }

  .social-icons a {
    font-size: 55px;
  }
  .contact-left p {
    margin-top: 4px;
    color: var(--secondary-text-color);
  }

  #msg {
    padding-left: 30px;
  }

  .social-icons {
    text-align: center;
    width: auto;
  }
  .about-col-2 p {
    font-size: 14px;
    width: 330px;
    text-align: justify;
    color: var(--secondary-text-color);
  }

  /* btn */

  #button-link{
    flex-basis: auto;
    gap: 8px;
  }

  .btn2 {
    display: inline-block;
    padding: 12px 34px;
    font-size: 20px;
    cursor: pointer;
    transition: none;
  }

  .btn-res {
    display: inline-block;
    border: 1px solid #595959;
    border-radius: 6px;
    padding: 12px 60px;
    font-size: 18px;
  }

  .project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    flex-direction: column-reverse;
    gap: 15px;
    width: revert;
    flex-basis: 100%;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    background: var(--nav-bgc-color);
    color: var(--background-color);
    font-weight: 400;
    font-size: 14px;
  }

  .copyright p {
    padding-inline: 30px;
  }

  #gif p {
    position: absolute;
    top: 15px;
    width: 100%;
    display: block;
    left: 120px;
    font-size: 22px;
  }

  .work img {
    width: -webkit-fill-available;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
  }
  
  .btncv-res {
    display: block;
    width: 100%;
    margin: 5px;
    text-align: center;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--background-color);
    transition: background 0.5s;
    transition: 0.5s;
    font-size: 22px;
  }
}

/* Tablet and medium size screen */
@media (min-width: 768px) and (max-width: 800px) {
  .header-text {
    margin-top: 20%;
    font-size: 25px;
  }
  .contact-right form {
    width: 70%;
    margin-left: 15px;
  }
  .header-text h1 {
    font-size: 25px;
    margin-top: 10px;
  }

  .gif {
    height: 210px;
    margin-top: 5rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-right: 130px;
  }

  .introwindow {
    width: 420px;
    height: 300px;
  }

  .sub-title {
    font-weight: 600;
    font-size: 35px;
    color: #320e3b;
  }

  .intro-row {
    display: flex;
    height: 100vh;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-row2 {
    display: flex;
    flex-direction: row-reverse;
    height: 90vh;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .about-col-2 {
    text-align: start;
  }

  #My-Projects {
    margin-top: 200px;
  }

  #about {
    margin-top: 110px;
    color: #320e3b;
  }

  .about-col-1 {
    margin-top: 240px;
  }

  .contact-left {
    width: 35%;
    margin: 0px 40px 80px 20px;
  }
  .copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background:var(--nav-bgc-color);
    color:var(--background-color);
    font-weight: 600;
    margin-top: 50px;
  }
}

/* Above Laptop Screen Size */
@media (min-width: 800px) and (max-width: 1024px) {
  .header-text {
    margin-top: 15%;
    font-size: 35px;
  }

  .header-text h1 {
    margin-top: 10px;
    font-size: 30px;
  }

  .gif {
    height: 250px;
    margin-top: 5rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-right: 70px;
  }

  .introwindow {
    width: 320px;
    height: 380px;
    margin-top: 30px;
  }

  .sub-title {
    font-weight: 600;
    font-size: 35px;
    color: var(--primary-text-color);
  }

  .intro-row {
    display: flex;
    height: 60vh;
    margin: 10px;
    width: fit-content;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .copyright {
    margin-top: 160px;
  }
}
