@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.root {
  color: #007bff;
  color: #ffc525;
  color: #272f78;
  color: #ee2225;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffebeb;
  color: #007bff;
}

#header {
  min-width: min-content;
}

.introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.gif {
  max-height: 400px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 10px 0px 20px gray;
}

.container {
  flex-basis: 100%;
  min-width: fit-content;
}


/* Navbr */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #262626;
  z-index: 2;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  padding: 10px 25px;
  background-color: transparent;
  font-size: 16px;
  position: relative;
}

nav ul li a:hover {
  color: #007bff;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #007bff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  font-size: 30px;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 45px;
}

.header-text h1 span {
  color: #ee2225;
}

/* -----------about ----------- */

#about {
  color: #ababab;
}

.intor-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  flex-basis: 100%;
  width: revert;
}


.contact-intro-row {
  display: flex;
  flex-basis: 100%;
  width: revert;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.intro-about {}

.about-col-2 {
  margin-top: 20px;
  flex-basis: 60%;
}

.about-col-2 p {
  color: #40394a;
}

.sub-title {
  font-weight: 600;
  font-size: 60px;
  color: #007bff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #007bff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  color: #40394a;
}

.skill-Icon ul li {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 8px;
  border: transparent;
  background: white;
}

.skill-Icon {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-weight: 600;
  font-size: 1.5rem;
  list-style: none;
  padding: 10px;
}

.skill-Icon li i:hover {
  background-color: white;
  color: #007bff;
  border-radius: 10px;
  padding: 5px;
  transition: 1s;
}

.tab-contents ul li span {
  color: #4089d8;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* profile card */
.card {
  position: relative;
  width: 300px;
  height: 450px;
  background: #fff;
  border-radius: 10px;

  background: linear-gradient(#007bff, #03a9f4 45%, #fff 45%, #fff 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(55px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .detail h2 {
  color: #444;
  font-size: 1.6em;
  font-weight: bolder;
}

.content .detail h2 span {
  font-size: 0.7em;
  color: #03a9f4;
  font-weight: bold;
}

.sci {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.sci li {
  list-style: none;
  margin: 10px;
}

.sci li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.sci li a:hover {
  background: #03a9f4;
  color: #fff;
}

/* -------Portfolio--------- */
.container-res {
  margin: 50px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  overflow: hidden;
  display: none;
  position: relative;
}

.work:nth-child(1) {
  display: block;
}

.work:nth-child(2) {
  display: block;
}

.work img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: inherit;
  height: 0;
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;

  transition: transform 0.5s;
}

.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: white;
}

.layer p {
  color: #40394a;
}

.layer button {
  color: #ee2225;
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
  color: white;
  border: transparent;
}

/*  new learning */

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #007bff;
  border-radius: 6px;
  padding: 10px 30px;
  text-decoration: none;
  color: #007bff;
  transition: background 0.5s;
  box-shadow: 10px 0px 20px #007bff;
  transition: 0.5s;
}

/* Contact */

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
  color: #40394a;
}

.contact-left p i {
  color: #007bff;
  margin-left: 10px;
  font-size: 25px;
}

.social-icons {
  padding-top: 20px;
}

.fa-github {
  color: #40394a;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  color: #007bff;
  margin-left: 15px;
}

.social-icons a:hover {
  color: rgba(14, 207, 241, 0.801);
  transform: translateY(-5px);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  margin: 15px 0;
}

.btn2 {
  display: inline-block;
  padding: 14px 60px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: none;
}

.btn2:hover {
  color: black;
  transform: none;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #262626;
  font-weight: 500;
}

.copyright i {
  color: #ff004f;
}

.fa-solid {
  padding-right: 10px;
}

.fa-phone {
  padding-right: 10px;
}

/* form submitting message  */

#msg {
  color: #61b752;
  margin-top: -35px;
  display: block;
}

nav .fa-solid {
  display: none;
}

/* ------------CSS for Small Screeen _---------   */

/* mobile to media query */
@media (min-width: 320px) and (max-width: 425px) {

  /* 1st */
  .introduction {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding: 10px;
  }

  .header-text {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
  }

  .header-text h1 {
    font-size: 20px;
    margin-top: 5px;
  }

  .header-text p {
    font-size: 20px;
  }

  .gif {
    height: 150px;
    width: min-content;
  }

  .content .detail h2 {
    color: #444;
    font-size: 20px;
    font-weight: bolder;
  }

  /* intro about  */

  .intor-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%;
    width: fit-content;
  }

  .card {
    height: 345px;
    width: 250px;
  }

  .about-col-2 h1 {
    font-size: 22px;
  }


  .tab-contents ul li {

    padding: 15px;
    font-size: 14px;
  }


  .about-col-2 {
    width: 100%;
    padding-left: 20px;
  }

  .container-res {
    width: min-content;
    margin: 0;
    flex-direction: column;
    padding: 25px;
  }

  .container-res h1 {
    font-weight: 600;
    font-size: 24px;
    color: #007bff;

  }

  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
  }


  /* contact */


  .contact-intro-row {
    display: flex;
    width: revert;
    flex-direction: column-reverse;

  }


  .contact-right form {
    width: 80%;
    margin-left: 25px;
  }


  .contact-left h1 {
    font-size: 24px;
  }

  .contact-left {
    padding-left: 25px;
  }

  .contact-left p {
    margin-top: 15px;
    color: #40394a;
  }

  #msg {
    padding-left: 30px;
  }


  .about-col-2 p {
    font-size: 14px;
    width: 330px;
    color: #40394a;
  }


  /* btn */

  .btn2 {
    display: inline-block;
    padding: 6px 15px;
    margin: 0px 0px 40px 0px;
    font-size: 15px;
    cursor: pointer;
    transition: none;
  }

  .btn-res {
    display: inline-block;
    margin: 25px 25px 0px 0px;
    border: 1px solid #007bff;
    border-radius: 6px;
    padding: 6px 15px;
    color: #007bff;
    box-shadow: 10px 0px 20px #007bff;
  }

  .project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    flex-direction: column-reverse;
    gap: 15px;
    width: revert;
    flex-basis: 100%;
  }


  .copyright {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    background: #262626;
    font-weight: 400;
    font-size: 14px;
  }

  .copyright p {
    padding-inline: 30px;
  }

  .btncv-res {
    display: block;
    margin: 10px 25px 5px 25px;
    width: fit-content;
    border: 1px solid #007bff;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    color: #007bff;
    transition: background 0.5s;
    box-shadow: 10px 0px 20px #007bff;
    transition: 0.5s;
  }

}